.Logo{
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}

.userDP{
    border-radius: 100%;
    width: 36px;
    height: 36px;
}

.activeUsersContainer{

    .activeUsersLabel{
        font-size: 0.9rem;
        color: lightblue;
    }

    .activeUser{
        border: none;
        padding: 0 1rem;
        transition: 0.5s;
        font-size: 1.1rem;
        cursor: pointer;
        color: #fff;
        
        &:hover{
            box-shadow: 0 0 0.5rem lightblue;
        }
    }

    .newMessage{
        font-size: 1.2rem;
        color: yellow;
        font-weight: bold;
    }
    
    .visible{
        color: #fff;
    }

    .createGroup{
        cursor: pointer;
        padding: 0 1rem;
        transition: 0.2s ease;
        border: none;
        border-radius: 12px;
        
        .createGroupIcon{
            margin: 0;
            color: #001529;

        }

        &:hover{
            box-shadow: 0 0 0.5rem #fff;
        }

    }

    .newGroupNameContainer{
        margin: 1rem 0;
        display: flex;

        .newGroupName{
            max-width: 70%;
            font-size: 1rem;
            padding: 0.5rem;
        }

        .newGroupBtn{
            max-width: 30%;
            cursor: pointer;
        }
    }

    .selectActiveUsersContainer{
        display: flex;
        flex-direction: column;
    
        .ActiveUsersContainer{
            display: grid;
    
            .selectActiveUser{
                cursor: pointer;
                margin: 0.3rem 0;
                box-shadow: 0 0 1rem lightgray;
                background: none;
                border: none;
                color: #fff;
                padding: 0.5rem;
        
                &:hover{
                    box-shadow: 0 0 0.5rem lightblue inset;
                }
            }
        }
        
        .selectUserBtn{
            cursor: pointer;
            text-align: center;
            margin: auto;
        }
    }
}


